<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <%= live_title_tag assigns[:page_title] || "Cuisine13", suffix: " · Cuisine13" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <style>
      /* iOS touch fixes */
      * { -webkit-tap-highlight-color: transparent; }
      button, a, [phx-click] { touch-action: manipulation; cursor: pointer; }
    </style>
  </head>
  <body class="bg-gray-950 antialiased">
    <%= @inner_content %>
  </body>
</html>
